body{
    background-color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
}
a:hover{
    color:blue;
}
table{
    margin-left: 20px;
}
td{
    padding: 5px;
}
